body {
  margin: 0;
}

#root {
  box-sizing: border-box;
}

#header {
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: space-between;
  color: rgb(184, 150, 27);
}

#menuList {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none;
}

#menuList li {
  margin: 1rem;
}
